:root {
  --pink: #f72585;   /* Vibrant Pink */
  --purple: #7209b7; /* Bright Purple */
  --indigo: #3a0ca3; /* Deep Indigo */
  --blue: #4361ee;   /* Bold Blue */
  --aqua: #4cc9f0;   /* Aqua/Light Blue */
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
